<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Node CRUD</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    </head>

    <body>
        <div class="container col-sm-6">
            <h2>Node CRUD</h2>

            <div class="card">
                 <ul class="list-group list-group-flush">
                    <li class="list-group-item">

                    </li>

                    <li class="list-group-item container">
                        <div class="container">
                            <form action="/quotes" method="POST">
                            <div class="form-group row">
                                <label for="name" class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Name"
                                        required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="quote" class="col-sm-2 col-form-label">Quote</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="quote" name="quote" placeholder="Quote"
                                        required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="offset-sm-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                          </form>
                        </div>
                    </li>

                    <li class="list-group-item">
                        <ul class="quotes">
                            <% for(var i = 0; i < quotes.length; i++) { %>
                                <li class="quote">
                                    <strong><%= quotes[i].name %></strong>&nbsp;
                                    <span><%= quotes[i].quote %></span>
                                </li>
                            <% } %>
                        </ul>
                    </li>
                 </ul>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    </body>
</html>